.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.bin
*.pkl
*.pt
*.jsonl
*.pyc
input.txt
env/
venv/
out_sanskrit/
out/data/sanskrit/train.bin
data/sanskrit/val.bin
data/sanskrit/mono_converted.jsonl
data/sanskrit/wiki_tokens.bin
data/sanskrit/mono_tokens.bin
out-sanskrit/
sample_check.txt
data/sanskrit/train.bin
data/sanskrit/val.bin
data/sanskrit/mono_converted.jsonl
data/sanskrit/wiki_tokens.bin
data/sanskrit/mono_tokens.bin
out-sanskrit/
sample_check.txt
